/* Set fixed width for the select box */
.select2-container--default .select2-selection--multiple {
    width: 200px !important;
}

/* Set the dropdown width properly */
.select2-container--open .select2-dropdown {
    width: 200px !important;
}

/* sequential_checkbox */
td input.sequential_checkbox {
    margin: 0 0 0 55px !important;
}

.condition_value_cell {
    width: 250px !important;
}

#alg_wc_con_rules_table input::placeholder {
    color: #a8aaaf;
    opacity: 1;
    font-size: 14px;
}
span.mode-active {
    font-size: 14px;
    font-weight: 600;
    color: #167816ed;
}
span.mode-deactive {
    font-size: 14px;
    font-weight: 600;
    color: #cd1111;
}